In [4]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("workout_app.db")
cursor = conn.cursor()

Create _user_ table

In [ ]:
cursor.execute("""CREATE TABLE user (
               user_id INTEGER PRIMARY KEY AUTOINCREMENT,
               first_name VARCHAR(50) NOT NULL,
               last_name VARCHAR(50) NOT NULL,
               address VARCHAR(50),
               town VARCHAR(50),
               state VARCHAR(50),
               country VARCHAR(50),
               email VARCHAR(50) UNIQUE NOT NULL,
               phone_number VARCHAR(50),
               password_hash VARCHAR(100) NOT NULL,
               date_of_birth DATE,
               height DECIMAL(5,2),
               date_registered DATE DEFAULT CURRENT_DATE,
               date_unregistered DATE,
               registered BOOLEAN,
               fitness_goal VARCHAR(50),
               user_type VARCHAR(50)
               )""")

In [ ]:
cursor.executemany("""INSERT INTO user (first_name, last_name, email, password_hash, phone_number, height, user_type, fitness_goal, date_registered, registered)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", [
    ('John', 'Doe', 'john@email.com', 'hashed_pw_123', '555-0123', 70.0, 'regular', 'strength', '2025-01-15', 1),
    ('Jane', 'Smith', 'jane@email.com', 'hashed_pw_456', '555-0456', 65.5, 'beginner', 'weight_loss', '2025-02-01', 1),
    ('Mike', 'Johnson', 'mike@email.com', 'hashed_pw_789', '555-0789', 72.0, 'athlete', 'strength', '2025-03-10', 1)
])
conn.commit()

pd.read_sql("SELECT * FROM user", conn)

Empty DataFrame
Columns: [user_id, first_name, last_name, address, town, state, country, email, phone_number, password_hash, date_of_birth, height, date_registered, date_unregistered, registered, fitness_goal, user_type]
Index: []

Create _user_weight_log_ table

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS user_weight_log (
               log_id INTEGER PRIMARY KEY AUTOINCREMENT,
               user_id INTEGER NOT NULL,
               date DATE NOT NULL,
               weight DECIMAL(5,2) NOT NULL,
               neck DECIMAL(4,2),
               waist DECIMAL(5,2),
               hips DECIMAL(5,2),
               body_fat_percentage DECIMAL(4,2),
               notes TEXT,
               FOREIGN KEY (user_id) REFERENCES user(user_id) ON DELETE CASCADE
               )""")

In [ ]:
cursor.executemany("""INSERT INTO user_weight_log (user_id, date, weight, waist, body_fat_percentage, notes)
VALUES (?, ?, ?, ?, ?, ?)""", [
    (1, '2025-10-01', 185.5, 34.0, 18.5, ''),
    (1, '2025-10-08', 184.0, 33.5, 18.0, ''),
    (2, '2025-10-01', 152.0, 28.0, 24.5, ''),
    (2, '2025-10-08', 151.0, 27.5, 24.0, ''),
    (3, '2025-10-01', 195.0, 32.0, 15.0, '')
])


pd.read_sql("SELECT * FROM user_weight_log", conn)

Create _exercise_ table

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS exercise (
               exercise_id INTEGER PRIMARY KEY AUTOINCREMENT,
               name VARCHAR(100) UNIQUE NOT NULL,
               type VARCHAR(50) NOT NULL,
               subtype VARCHAR(50),
               equipment VARCHAR(50),
               difficulty INTEGER CHECK (difficulty BETWEEN 1 AND 5),
               description TEXT,
               demo_link VARCHAR(100)
               )""")

In [ ]:
cursor.executemany("""INSERT INTO exercise (name, type, subtype, equipment, difficulty, description, demo_link)
VALUES (?, ?, ?, ?, ?, ?, ?)""", [
    ('Barbell Bench Press', 'strength', 'compound', 'barbell', 3, 'Press bar from chest to full extension', 'https://youtube.com/bench-press'),
    ('Barbell Back Squat', 'strength', 'compound', 'barbell', 4, 'Squat with bar on back', 'https://youtube.com/back-squat'),
    ('Pull-ups', 'strength', 'compound', 'bodyweight', 4, 'Pull chin over bar', 'https://youtube.com/pullups'),
    ('Running', 'cardio', 'steady_state', 'none', 2, 'Cardiovascular running exercise', None),
    ('Plank', 'flexibility', 'isometric', 'bodyweight', 2, 'Hold straight body position', 'https://youtube.com/plank'),
    ('Deadlift', 'strength', 'compound', 'barbell', 5, 'Lift bar from ground to standing', 'https://youtube.com/deadlift'),
    ('Overhead Press', 'strength', 'compound', 'barbell', 4, 'Press bar overhead', 'https://youtube.com/ohp')
])
conn.commit()

pd.read_sql("SELECT * FROM exercise", conn)

Create _target_ table

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS target (
               target_id INTEGER PRIMARY KEY AUTOINCREMENT,
               target_name VARCHAR(50) UNIQUE NOT NULL,
               target_group VARCHAR(50),
               target_function VARCHAR(100)
               )""")

In [ ]:
cursor.executemany("""INSERT INTO target (target_name, target_group, target_function)
VALUES (?, ?, ?)""", [
    ('Chest', 'Upper Body', 'Push'),
    ('Back', 'Upper Body', 'Pull'),
    ('Quadriceps', 'Lower Body', 'Legs'),
    ('Hamstrings', 'Lower Body', 'Legs'),
    ('Core', 'Core', 'Stability'),
    ('Biceps', 'Upper Body', 'Pull'),
    ('Triceps', 'Upper Body', 'Push'),
    ('Shoulders', 'Upper Body', 'Push'),
    ('Glutes', 'Lower Body', 'Legs'),
    ('Calves', 'Lower Body', 'Legs')
])
conn.commit()

pd.read_sql("SELECT * FROM target", conn)

Code _exercise_target_association_ table

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS exercise_target_association (
               association_id INTEGER PRIMARY KEY AUTOINCREMENT,
               exercise_id INTEGER NOT NULL,
               target_id INTEGER NOT NULL,
               intensity VARCHAR(20) NOT NULL,
               FOREIGN KEY (exercise_id) REFERENCES exercise(exercise_id) ON DELETE CASCADE,
               FOREIGN KEY (target_id) REFERENCES target(target_id) ON DELETE CASCADE
               )""")

In [ ]:
cursor.executemany("""INSERT INTO exercise_target_association (exercise_id, target_id, intensity)
VALUES (?, ?, ?)""", [
    (1, 1, 'primary'),
    (1, 7, 'secondary'),
    (1, 8, 'secondary'),
    (2, 3, 'primary'),
    (2, 4, 'secondary'),
    (2, 9, 'secondary'),
    (3, 2, 'primary'),
    (3, 6, 'secondary'),
    (5, 5, 'primary'),
    (6, 4, 'primary'),
    (6, 2, 'secondary'),
    (7, 8, 'primary'),
    (7, 7, 'secondary')
])
conn.commit()

pd.read_sql("SELECT * FROM exercise_target_association", conn)

Create _user_pd_ table

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS user_pd (
               pr_id INTEGER PRIMARY KEY AUTOINCREMENT,
               user_id INTEGER NOT NULL,
               exercise_id INTEGER NOT NULL,
               pr_type VARCHAR(20) NOT NULL,
               pb_weight DECIMAL(6,2),
               pb_reps INTEGER,
               pb_time TIME,
               pb_date DATE NOT NULL,
               previous_pr DECIMAL(6,2),
               notes TEXT,
               FOREIGN KEY (user_id) REFERENCES user(user_id) ON DELETE CASCADE,
               FOREIGN KEY (exercise_id) REFERENCES exercise(exercise_id) ON DELETE CASCADE
               )""")

In [ ]:
cursor.executemany("""INSERT INTO personal_records (user_id, exercise_id, pr_type, pb_weight, pb_reps, pb_date, previous_pr, notes)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)""", [
    (1, 1, 'weight', 225.0, 1, '2025-09-15', 185.0, ''),
    (1, 1, 'weight', 185.0, 8, '2025-09-01', 0.0, ''),
    (2, 3, 'reps', None, 15, '2025-10-01', None, ''),
    (3, 2, 'weight', 405.0, 1, '2025-08-20', 365.0, ''),
    (3, 6, 'weight', 495.0, 1, '2025-09-10', None, '')
])


pd.read_sql("SELECT * FROM personal_records", conn)

Create _workout_sessions_ table

In [ ]:

cursor.execute("""CREATE TABLE IF NOT EXISTS workout_sessions (
               session_id INTEGER PRIMARY KEY AUTOINCREMENT,
               user_id INTEGER NOT NULL,
               session_name VARCHAR(100),
               session_date DATE NOT NULL,
               start_time TIME,
               end_time TIME,
               duration_minutes INTEGER,
               bodyweight DECIMAL(5,2),
               completed BOOLEAN DEFAULT 1,
               FOREIGN KEY (user_id) REFERENCES user(user_id) ON DELETE CASCADE
               )""")

In [ ]:
cursor.executemany("""INSERT INTO workout_sessions (user_id, session_name, session_date, start_time, duration_minutes, bodyweight, completed)
VALUES (?, ?, ?, ?, ?, ?, ?)""", [
    (1, 'Push Day', '2025-10-14', '18:00:00', 65, 185.5, 1),
    (1, 'Pull Day', '2025-10-16', '07:00:00', 55, 185.0, 1),
    (2, 'Full Body', '2025-10-15', '19:00:00', 45, 152.0, 1),
    (3, 'Leg Day', '2025-10-14', '17:00:00', 75, 195.0, 1)
])
conn.commit()

pd.read_sql("SELECT * FROM workout_sessions", conn)

Create _session_exercises_ table

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS session_exercises (
               session_exercise_id INTEGER PRIMARY KEY AUTOINCREMENT,
               session_id INTEGER NOT NULL,
               exercise_id INTEGER NOT NULL,
               exercise_order INTEGER NOT NULL,
               target_sets INTEGER,
               target_reps INTEGER,
               completed BOOLEAN DEFAULT 1,
               FOREIGN KEY (session_id) REFERENCES workout_sessions(session_id) ON DELETE CASCADE,
               FOREIGN KEY (exercise_id) REFERENCES exercise(exercise_id) ON DELETE CASCADE
               )""")

In [ ]:

cursor.executemany("""INSERT INTO session_exercises (session_id, exercise_id, exercise_order, target_sets, target_reps, completed)
VALUES (?, ?, ?, ?, ?, ?)""", [
    (1, 1, 1, 3, 8, 1),
    (1, 7, 2, 3, 12, 1),
    (2, 3, 1, 4, 10, 1),
    (2, 6, 2, 3, 5, 1),
    (3, 2, 1, 4, 10, 1),
    (3, 5, 2, 3, 60, 1),
    (4, 2, 1, 5, 5, 1)
])
conn.commit()

pd.read_sql("SELECT * FROM session_exercises", conn)

Create _sets_ table

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS sets (
               set_id INTEGER PRIMARY KEY AUTOINCREMENT,
               session_exercise_id INTEGER NOT NULL,
               set_number INTEGER NOT NULL,
               weight DECIMAL(6,2),
               reps INTEGER,
               rpe INTEGER CHECK (rpe BETWEEN 1 AND 10),
               completed BOOLEAN DEFAULT 1,
               is_warmup BOOLEAN, 
               completion_time DATETIME,
               FOREIGN KEY (session_exercise_id) REFERENCES session_exercises(session_exercise_id) ON DELETE CASCADE
               )""")

In [ ]:
cursor.executemany("""INSERT INTO sets (
    session_exercise_id, set_number, weight, reps, rpe, completed, is_warmup, completion_time
) VALUES (?, ?, ?, ?, ?, ?, ?, ?)""", [
    (1, 1, 185.0, 10, 7, 1, 0, None),
    (1, 2, 185.0, 9, 8, 1, 0, None),
    (1, 3, 185.0, 8, 9, 1, 0, None),
    (2, 1, 95.0, 12, 7, 1, 0, None),
    (2, 2, 95.0, 11, 8, 1, 0, None),
    (2, 3, 95.0, 10, 9, 1, 0, None),
    (3, 1, None, 12, 8, 1, 0, None),
    (3, 2, None, 10, 9, 1, 0, None),
    (3, 3, None, 8, 9, 1, 0, None),
    (3, 4, None, 6, 10, 1, 0, None),
    (4, 1, 315.0, 5, 8, 1, 0, None),
    (4, 2, 315.0, 5, 9, 1, 0, None),
    (4, 3, 315.0, 5, 9, 1, 0, None),
    (5, 1, 185.0, 10, 7, 1, 0, None),
    (5, 2, 185.0, 10, 8, 1, 0, None),
    (5, 3, 185.0, 10, 8, 1, 0, None),
    (5, 4, 185.0, 10, 9, 1, 0, None),
    (7, 1, 365.0, 5, 8, 1, 0, None),
    (7, 2, 365.0, 5, 9, 1, 0, None),
    (7, 3, 365.0, 5, 9, 1, 0, None),
    (7, 4, 365.0, 5, 10, 1, 0, None),
    (7, 5, 365.0, 5, 10, 1, 0, None)
])
conn.commit()

cursor.executemany("""INSERT INTO sets (session_exercise_id, set_number, weight, reps, rpe, completed, is_warmup, completion_time)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)""", [
    (1, 1, 185.0, 10, 7, 1, 0, None),
    (1, 2, 185.0, 9, 8, 1, 0, None),
    ...
])


pd.read_sql("SELECT * FROM sets", conn)

Create _goals_ table

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS goals (
               goal_id INTEGER PRIMARY KEY AUTOINCREMENT,
               user_id INTEGER NOT NULL,
               goal_type VARCHAR(100) NOT NULL CHECK(goal_type IN ('PR','bodyweight','frequency','strength','endurance','consistency')),
               goal_description TEXT,
               target_value DECIMAL(8,2) NOT NULL,
               current_value DECIMAL(8,2),
               unit VARCHAR(20) NOT NULL,
               exercise_id INTEGER,
               start_date DATE NOT NULL,
               target_date DATE,
               status VARCHAR(50) DEFAULT 'active',
               completion_date DATE,
               FOREIGN KEY (user_id) REFERENCES user(user_id) ON DELETE CASCADE,
               FOREIGN KEY (exercise_id) REFERENCES exercise(exercise_id) ON DELETE SET NULL
               )""")

In [ ]:
cursor.executemany("""INSERT INTO goals (user_id, goal_type, goal_description, target_value, current_value, unit, exercise_id, start_date, target_date, status)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", [
    (1, 'PR', 'Bench press 225 lbs', 225.0, 185.0, 'lbs', 1, '2025-09-01', '2025-12-31', 'active'),
    (2, 'bodyweight', 'Lose weight to 145 lbs', 145.0, 152.0, 'lbs', None, '2025-10-01', '2025-11-30', 'active'),
    (1, 'frequency', 'Workout 30 days straight', 30.0, 18.0, 'days', None, '2025-10-01', '2025-11-01', 'active'),
    (3, 'PR', 'Squat 405 lbs', 405.0, 365.0, 'lbs', 2, '2025-08-15', '2025-12-01', 'active'),
    (2, 'PR', 'Do 20 consecutive pull-ups', 20.0, 15.0, 'reps', 3, '2025-09-15', '2026-03-15', 'active')
])
conn.commit()

pd.read_sql("SELECT * FROM goals", conn)

Create _progress_ table

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS progress (
               metric_id INTEGER PRIMARY KEY AUTOINCREMENT,
               user_id INTEGER NOT NULL,
               exercise_id INTEGER NOT NULL,
               date DATE NOT NULL,
               period_type VARCHAR(20) NOT NULL,
               max_weight DECIMAL(6,2),
               avg_weight DECIMAL(6,2),
               total_volume DECIMAL(10,2),
               workout_count INTEGER,
               FOREIGN KEY (user_id) REFERENCES user(user_id) ON DELETE CASCADE,
               FOREIGN KEY (exercise_id) REFERENCES exercise(exercise_id) ON DELETE CASCADE
               )""")

In [ ]:
cursor.executemany("""INSERT INTO progress (user_id, exercise_id, date, period_type, max_weight, avg_weight, total_volume, workout_count)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)""", [
    (1, 1, '2025-10-07', 'weekly', 185.0, 180.0, 4440.0, 2),
    (1, 1, '2025-10-14', 'weekly', 195.0, 187.5, 4995.0, 2),
    (3, 2, '2025-10-14', 'weekly', 365.0, 365.0, 9125.0, 1),
    (1, 3, '2025-10-16', 'weekly', None, None, 0.0, 1)
])
conn.commit()

pd.read_sql("SELECT * FROM progress_metrics", conn)

Create _validation_ table

In [ ]:
cursor.execute("""CREATE TABLE IF NOT EXISTS data_validation (
               validation_id INTEGER PRIMARY KEY AUTOINCREMENT,
               user_id INTEGER NOT NULL,
               set_id INTEGER,
               exercise_id INTEGER NOT NULL,
               input_weight DECIMAL(6,2) NOT NULL,
               expected_max DECIMAL(6,2),
               flagged_as VARCHAR(20),
               user_action VARCHAR(20),
               timestamp TEXT DEFAULT (datetime('now')),
               FOREIGN KEY (user_id) REFERENCES user(user_id) ON DELETE CASCADE,
               FOREIGN KEY (set_id) REFERENCES sets(set_id) ON DELETE SET NULL,
               FOREIGN KEY (exercise_id) REFERENCES exercise(exercise_id) ON DELETE CASCADE
               )""")

cursor.executemany("""INSERT INTO data_validation (user_id, set_id, exercise_id, input_weight, expected_max, flagged_as, user_action, timestamp)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)""", [
    (1, 15, 2, 275.0, 205.0, 'outlier', 'corrected', '2025-10-14 18:30:00'),
    (2, None, 3, 95.5, 100.0, 'normal', 'verified', '2025-10-15 19:15:00')
])
conn.commit()

pd.read_sql("SELECT * FROM data_validation", conn)

Verification

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()
print(f"Total tables: {len(tables)}")
for table in tables:
    cursor.execute(f"SELECT COUNT(*) FROM {table[0]}")
    count = cursor.fetchone()[0]
    print(f"{table[0]}: {count} rows")

conn.close()