In [4]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("workout_app.db")
cursor = conn.cursor()

Create _user_ table

In [5]:
cursor.execute("""CREATE TABLE user (
               user_id INTEGER PRIMARY KEY AUTOINCREMENT,
               first_name VARCHAR(50) NOT NULL,
               last_name VARCHAR(50) NOT NULL,
               address VARCHAR(50),
               town VARCHAR(50),
               state VARCHAR(50),
               country VARCHAR(50),
               email VARCHAR(50) UNIQUE NOT NULL,
               phone_number VARCHAR(50),
               password_hash VARCHAR(50) NOT NULL,
               date_of_birth DATE,
               height DECIMAL(5,2),
               date_registered DATE,
               date_unregistered DATE,
               registered BOOLEAN,
               fitness_goal VARCHAR(50),
               user_type VARCHAR(50)
               )""")

In [7]:
pd.read_sql("SELECT * FROM user", conn)

Empty DataFrame
Columns: [user_id, first_name, last_name, address, town, state, country, email, phone_number, password_hash, date_of_birth, height, date_registered, date_unregistered, registered, fitness_goal, user_type]
Index: []

Create _user_weight_log_ table